<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JunaidMirani</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/" class="header-title">
          <h1>Junaid</h1>
        </a>
        <button id="sidebarToggle" class="sidebar-toggle">&#9776;</button>
        <nav class="nav-right">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Stories</a></li>
            <li><a href="/">Business</a></li>
            <!--<li><a href="/about">About/Contact</a></li>-->
          </ul>
        </nav>
      </div>
    </header>
    <aside id="sidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" id="closeSidebar"
        >&times;</a
      >
      <a href="/">Home</a>
      <a href="/">Stories</a>
      <!-- <a href="/manage">Login</a> -->
      <a href="/">Business</a>
      <a href="/">About/Contact</a>
    </aside>
    <div id="mainContent" class="container">
      <div class="search-bar">
        <input type="search" placeholder="Search Blogs..." id="search-input" />
        <button id="search-button">Search</button>
      </div>
      <section class="main-section">
        <div class="latest">
          <div class="news-cards-container">
            {% for post in posts %}
            <div class="news-card">
              <div class="news-card-content">
                {% if post.image %}
                <img
                  src="{{ post.image.url }}"
                  alt="{{ post.title }}"
                  style="width: 100%"
                />
                {% elif post.image_url %}
                <img
                  src="{{ post.image_url }}"
                  alt="{{ post.title }}"
                  style="width: 100%"
                />
                {% else %}
                <p>No image available</p>
                {% endif %}

                <a
                  href="/posts/{{ post.id }}"
                  style="color: rgb(0, 0, 0); text-decoration: none"
                >
                  <h2 style="font-size: 16px; padding: 8px">
                    {{ post.title }}
                  </h2>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Business Blogs Section -->

      <!-- End of Business Blogs Section -->
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-links">
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <!-- <li><a href="#">Terms of Use</a></li> -->
            <!-- <li><a href="#">Privacy Policy</a></li> -->
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <p>Copyright © 2024 Junaid Mirani. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const sidebarToggle = document.getElementById("sidebarToggle");
        const sidebar = document.getElementById("sidebar");
        const closeSidebar = document.getElementById("closeSidebar");
        const mainContent = document.getElementById("mainContent");

        sidebarToggle.addEventListener("click", () => {
          sidebar.style.width = "250px";
          mainContent.style.marginLeft = "250px";
        });

        closeSidebar.addEventListener("click", () => {
          sidebar.style.width = "0";
          mainContent.style.marginLeft = "0";
        });
      });
      //
      // const categoryDropdown = document.getElementById("category-dropdown");
      // const sidediv = document.getElementById("side-div");

      // categoryDropdown.addEventListener("change", (e) => {
      //   const selectedCategory = e.target.value;
      //   fetch(`/sidediv?category=${selectedCategory}`)
      //     .then((response) => response.text())
      //     .then((html) => {
      //       sidediv.innerHTML = html;
      //     });
      // });
      function search_function() {
        // Declare variables
        var input, filter, newsCards, newsCardContent, title, i, txtValue;
        input = document.getElementById("search-input");
        filter = input.value.toUpperCase();
        newsCards = document.getElementsByClassName("news-card");

        // Loop through all news cards and hide/show based on the search query
        for (i = 0; i < newsCards.length; i++) {
          newsCardContent =
            newsCards[i].getElementsByClassName("news-card-content")[0];
          title = newsCardContent.getElementsByTagName("h2")[0];
          txtValue = title.textContent || title.innerText;

          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            newsCards[i].style.display = "";
          } else {
            newsCards[i].style.display = "none";
          }
        }
      }

      // Event listener for the Search button
      document
        .getElementById("search-button")
        .addEventListener("click", search_function);

      // Optional: Event listener for Enter key press in the search input
      document
        .getElementById("search-input")
        .addEventListener("keyup", function (event) {
          if (event.key === "Enter") {
            search_function();
          }
        });
      // text editor
    </script>
  </body>
</html>
